#!/usr/bin/env xdg-open
[Desktop Entry]
Name=XIVLauncher (git)
Comment=Custom launcher for Final Fantasy XIV. Built from Rankyn Bass' testing repo.
Exec=/usr/bin/xivlauncher-git
Icon=xivlauncher-git
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=XIVLauncher.Core