[Desktop Entry]
Name=XIVLauncher-RB
Comment=Custom launcher for Final Fantasy XIV. Includes Rankyn Bass's patches.
Exec=/usr/bin/xivlauncher
Icon=xivlauncher
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=XIVLauncher.Core