[Desktop Entry]
Name=XIVLauncher-RB RPM
Comment=Custom launcher for Final Fantasy XIV. RPM version with Rankyn Bass's patches.
Exec=/usr/bin/xivlauncher-rb
Icon=xivlauncher-rb
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=XIVLauncher.Core